<ion-header>
  <ion-toolbar>
    <ion-title>listaProductos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let p of lista">
    <ion-item>
      <ion-label>Identificador: {{p.identificador}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-input>{{p.nombre}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-input>{{p.precio}}</ion-input>
    </ion-item>

    <ion-button (click)="eliminar(p.identificador)">ELIMINAR</ion-button>
    <ion-button (click)="modificar(p.identificador)">MODIFICAR</ion-button>
  </ion-list>
</ion-content>
